body{
    background-color: rgb(201, 201, 201);
}
h2{
    margin: 0px 5px 0px 5px;
}
hr{
    margin: 0px;
}
select{
    height: 25px;
    
}
input{
    height: 20px;
}

.branco{
    color: white;
}

.fundoCinzaEscuro{
    background-color: rgb(100, 100, 100);
}